* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  background: lightgoldenrodyellow;
}

.add_task {
  font-size: 30px;
  background: silver;
  padding: 5rem;
}

.list {
  background: silver;
  padding: 5rem;
}
