{% extends "layouts/base.html" %}

{% block title %}ToDo List{% endblock %}

{% block content %}

<form class="add_task" method="post">

  <label>Enter Task: </label>

  <input name="item" value="{{ request.form['item'] }}" type="text" required>

<input type="submit" value="Add to List!">

</form>

<ul class="list">
  <li>do laundry {{ timestamp }} </li>
  <li>feed cat {{ timestamp }} </li>
  <li>write paper {{ timestamp }} </li>
  <!--  {% for item in list %}
    <li>{{ item }}</li>
  {% endfor %}  -->
<ul>

{% endblock %}
